body {  background-color: #999999; color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; text-align: justify; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px}
a:active {  color: #FF0000}
a:hover {  color: #FF0000}
a:link {  color: #FFFFFF}
a:visited {  color: #333333}
b {  background-color: #FFFFFF}
