@import url('https://fonts.googleapis.com/css2?family=News+Cycle&display=swap');


body {
    background: #FFF;
    padding: 0px;
    margin: 0px;
    font-family: 'News Cycle', sans-serif;
    font-size: 5vw;
    height: 100%;
    width: 100%;
}


#card {
    border: 10px solid green;
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 75vh;
    padding: 15vh 10px 10px 10px;
    text-align: center ;
}

#intro {
    font: 2vw Sans-serif;
}