<STYLE>
BODY{font-family: verdana; color: #000000;}

A.coldroitaccroche, .coldroitaccroche
{
 color: white;
 font-size: 20px;
 font-family: Helvetica, arial;
 font-weight: bold;
 text-decoration: none;
}
A.coldroittitre, .coldroittitre
{
 color: #000000;
 font-size: 12px;
 font-family: Verdana;
 font-weight: bold;
 text-decoration: none;
}
A.coldroittexte, .coldroittexte
{
 color: #000000;
 font-size: 11px;
 font-family: Verdana;
 text-decoration: none;
}
A.coldroittexteblanc, .coldroittexteblanc
{
 color: #FFFFFF;
 font-size: 10px;
 font-family: Verdana;
 font-weight: bold;
 text-decoration: none;
}
A.titremenuhaut, .titremenuhaut
{
 color: #0c2577;
 font-size: 10px;
 font-family: Verdana;
 margin-left: 4px;
 font-weight: bold;
 text-decoration: none;
}
.boiteperso
{
 color: #000000;
 font-size: 10px;
 font-family: Verdana;
 font-weight: bold;
}
.amenu
{
 color: black;
 font-weight: 100;
 font-size: 10px;
 font-family: Verdana;
 text-decoration: none;
}
.coldroitsource
{
 color: #FFFFFF;
 font-size: 10px;
 font-family: Arial;
 padding-top: 2px;
}
A.titrerubprincipale, .titrerubprincipale
{
 color: #66665c;
 font-size: 30px;
 font-family: Arial;
 font-weight: bold;
 text-decoration: none;
}

A.titrerubprincref, .titrerubprincref
{
 color: #66665c;
 font-size: 20px;
 font-family: Arial;
 font-weight: bold;
 text-decoration: none;
}

A.unesstitre, .unesstitre 
{
 color: black;
 font-weight: bold;
 font-size: 15px;
 font-family: Times New Roman, Times ;
 text-decoration: none;
}
A.titrearticle, .titrearticle
{
 color: #18307E;
 font-size: 12px;
 font-family: Helvetica, Arial;
 font-weight: bold;
 text-decoration: none;
}
.afptxtgrey
{
 color: #808080;
 font-size: 10px;
 font-family: Arial;
 text-decoration: none;
 padding-top:2px;
 padding-bottom:6px;
}
.afptxtphoto
{
 color: white;
 font-size: 10px;
 font-family: Arial;
}
.titredossier
{
 color: white;
 font-size: 12px;
 font-family: Arial;
 font-weight: bold;
}
.afptxtheure
{
 color: #FF0000;
 font-size: 10px;
 font-family: Arial;
}
A.unetitre, .unetitre
{
 color: #000000;
 font-size: 19px;
 font-family: Times New Roman, Times ;
 font-weight: normal;
 text-decoration: none;
}
A.unetxt, .unetxt
{
 color: black;
 font-weight: normal;
 font-size: 12px; 
 font-family: Verdana;
 text-decoration: none;
}
.unetxtgras
{
 color: black;
 font-size: 12px; 
 font-family: Verdana;
 font-weight: bold;
}
.daterubprincipale
{
 color: #66665c;
 font-size: 10px;
 font-family: Arial;
 font-weight: 100;       
}
.titremenugauche
{
 color: black;
 font-weight: bold;
 font-size: 10px;
 font-family: Verdana;
 margin-left: 4px
}
A.bleu
{
 color: #000000;
 text-decoration: none;
}
.laune, A.laune
{
 color: #000000;
 font-size: 18px;
 font-family: Times New Roman, Times ;
 font-weight: bold;
 text-decoration: none;
}

.artsurtitre
{
 font-family:Helvetica;
 font-size:14px;
 color:#000000;
 font-weight:bold
}
.artsoutitre
{
 font-family:Times;
 font-size:14px;
 color:#666666;
 font-weight:bold
}
.dossiertitre
{
 color: #000000;
 font-weight: bold;
 font-size: 27px;
 font-family: Times New Roman, Times ;
}
.dossiersstitre
{
 color: black;
 font-weight: bold;
 font-size: 14px; 
 font-family: Verdana;
}
.dossiertxt
{
 color: black;
 font-weight: normal;
 font-size: 14px; 
 font-family: Verdana;
}
.dossierlien
{
 color: black;
 font-weight: bold;
 font-size: 14px;
 font-family: Times New Roman, Times ;
}
.dossiersujet
{
 color: #710101;
 font-weight: bold;
 font-size: 11px; 
 font-family: Arial;
}
.titrearticlerouge
{
 color: #710101;
 font-size: 12px;
 font-family: Helvetica, Arial;
 font-weight: bold;
}
.btxt 
{ 
 color: black; 
 font-family: verdana; 
 font-size: 11px; 
}
A.pavetexte, .pavetexte 
{ 
 color: black; 
 font-family: verdana; 
 font-size: 11px; 
 text-decoration: none;
}
.direc-txtgras
{
 color: #000000;
 font-size: 11px;
 font-family: verdana;
 font-weight: bold;
}
.direc-service
{
 color: black;
 font-family: verdana;
 font-size: 12px;
 font-weight: bold;
}
.paverubrique 
{ 
 color: white; 
 font-family: verdana; 
 font-size: 11px; 
 font-weight: 900; 
}
.depechelinkbord
{
 color: #990000;
 font-size: 11px;
 font-family: Verdana;
 font-weight: bold;
 text-decoration: none;
}
.pavesstxt
{
 color: #003399; 
 font-family: verdana; 
 font-size: 11px; 
}
A.pavetitre, .pavetitre
{ 
 color: #003399;
 font-family: verdana;
 font-size: 11px; 
 font-weight: bold;
 text-decoration: none; 
}
.rechtxtbleu
{ 
 color: #777AAB; 
 font-family: verdana; 
 font-size: 11px;
 font-weight: bold;
}
.sondrep
{
 color: black;
 font-size: 12px;
 font-family: verdana;
}
.unetxtgras
{
 color: black;
 font-size: 12px; 
 font-family: Verdana;
 font-weight: bold;
}
A.verdana12, .verdana12
{
 font-family: verdana;
 font-size: 13px;
 text-decoration: none;
}
.fennomgras
{
 color: black;
 font-size: 15px;
 font-family: verdana;
 font-weight: bold;
}
.sondquest
{
 color: black;
 font-size: 13px;
 font-family: arial;
 font-weight: bold;
}
.articletitre
{
 color: black;
 font-size: 25px;
 font-family: arial;
 font-weight: bold;
}
.gdtitre
{
 font-family: arial;
 font-size: 29px;
 font-weight: bold;
}
.servtete 
{ 
 color: #FFFFFF; 
 font-family: arial; 
 font-size: 29px; 
 font-weight: bold; 
}
.pavegdtitre 
{ 
 color: #FFFFFF; 
 font-family: arial; 
 font-size: 29px; 
 font-weight: bold; 
}
.verdana11blc
{
 color: white;
 font-size: 12px;
 font-family: verdana;
}
.verdana11blu
{
 color: #A4A4FC;
 font-size: 12px;
 font-family: verdana;
}

STRONG, B { font-weight:bold }

</STYLE>
