@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Signika:wght@398&display=swap');

/* All color variables */


:root {
  --pageBG: #000000;
  --pageFG: rgb(87, 198, 206);
  --pageHighlight: #fff;
  --titleBG: rgb(87, 198, 206);
  --titleFG: rgb(3, 9, 41);

  --tableBorder: #777;
  --tableBG:  rgb(255, 255, 255);
  --tableFR: #000;
  --tableLabelBG:  rgb(87, 198, 206);
  --tableLabelFG: #333;
}


body {
  background-color: var(--pageBG);
  font-family: 'Assistant';
  color: var(--pageFG);
  font-size: 100%;
  margin: 0px 0px;

}

.objInput {
  width: 75%;
  font-size: 2vw;
  background-color: #ffd;
}


table {
  border: 1px solid var(--tableBorder);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  background-color: var(--tableBG);
  font-size: 1.5vw;
  color: var(--tableFR);
  text-shadow: 2px 2px 2px #777;
  font-weight: bold;
  
}

table caption {
  margin: .5em 0 .75em;
}

table tr {
  border: 1px solid var(--tableBorder);
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: left;
}




table th {
  letter-spacing: .1em;
  background-color: var(--tableLabelBG);
  color: var(--tableLabelFG);
}

/* ========================= SMALL SCREEN ============ */

@media screen and (max-width: 800px) {
  table {
    border: 0;
    width: 166%;
    font-size: 2vw;
  }


  table caption {
    font-size: 1.3em;
  }
  
  table thead ,table tfoot {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid var(--tableBorder);
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid var(--tableBorder);
    display: block;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    color: var(--tableLabelFG);
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

/* ===================== Layout ========================*/

#formHeader {
  display: grid;
  grid:  auto / auto auto ;
  grid-gap: 1px;
  font-size: 2.5vw;
}



.formLabel {
  text-align: right;
} 

#fldRatio {
  font-weight: bold;
  color: var(--pageHighlight);
}

h1 {
  color: var(--titleFG);
  background-color: var(--titleBG);
  font-size: 5vw;
}

a  {
  text-decoration: none;
}

a:link, a:visited, a:active {
  color: var(--tableFR);
}

a:hover {
  color: var(--tableLabelFG);
  background-color: var(--tableLabelBG);

}

.scMicro {
  background-image: url("./images/scMicro.jpg");
  background-size: cover;
}

.scHuman {
  background-image: url("./images/scHuman.jpg");
  background-size: cover;
}

.scTravel 
{
  background-image: url("./images/scTravel.jpg");
  background-size: cover;
}

.scPlanet 
{
  background-image: url("./images/scPlanet.jpg");
  background-size: cover;
}


.scSolar
{
  background-image: url("./images/scSolar.jpg");
  background-size: cover;
}

.scCosmic{
  background-image: url("./images/scCosmic.jpg");
  background-size: cover;
}